div {
  width: 15%;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.first,
.second {
  position: absolute;
  height: 30vh;
}

p {
  margin: 35% auto;
}

br {
  line-height: 35px;
}

.right {
  left: 50%;
}

.first {
  top: 20%;
}

.left {
  left: 35%;
}

.second {
  top: 50%;
}

.first.left {
  background: rgb(167, 7, 7);

  border-radius: 10% 10% 0% 10%;
}

.second.left {
  background: rgb(214, 200, 5);

  border-radius: 10% 0% 10% 10%;
}

.first.right {
  background: rgb(1, 170, 38);
  border-radius: 10% 10% 10% 0%;
}

.second.right {
  background: rgb(0, 0, 117);
  border-radius: 0% 10% 10% 10%;
}

.small {
  position: absolute;
  background: gray;
  border: 2px solid gray;
  border-radius: 5px;
  height: 20px;
  width: 10%;
  font-size: small;
  z-index: -1;
}

div[class$="important"] {
  transform: rotate(-90deg);
  left: 29.5%;
}

.important {
  top: 5.4cm;
}

.not-important {
  top: calc(30vh + 5.4cm);
}

div[class$="urgent"] {
  left: 37.5%;
  top: 2.8cm;
}

div.not-urgent {
  left: calc(37.5% + 15%);
}
